<style type="text/css">
  @import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap");
  *{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .banner{
    width: 100%;
    height: 100vh;
    /* 螢幕滿版 */
    background-color: #ccc;
    background: linear-gradient(115deg, #7bf 30%, transparent 70%) center center / 100% 100%, url("https://picsum.photos/1200/600?random=10") right center / auto 100%;
    /* 斜角115deg 色彩和透明各佔50% 
    background-image: linear-gradient(角度, 起始色彩 起始色彩位置, 結束色彩 結束色彩位置);
    center center / 100% 100% 正中央 寬度和高度100%
    , 以前是第一組設定
    , 以後是第二組設定
    url("https://picsum.photos/1200/600?random=10") right center / auto 100%
    右邊 寬度自動 高度100%*/
  }
  .container{
    height: 100%;
    width: 100%;
    max-width: 1440px;
    margin: auto;
  }
  .banner-txt{
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .loginPosition{
    padding-top: 10em;
    float: right;  }
  .login{
    width: 600px;
    height: 400px;
    background-color: rgba(0,0,0,.5);
    border-radius: 10px;
    border: 10px solid #fff;
    box-shadow: 0 0 60px #000;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form{
    font-family: 'Noto Sans TC', sans-serif;
    color: #fff;
    width: 400px;
  }
  .form h2{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff
  }
  .form .group{margin-bottom: 20px;}
  .form label{
    line-height: 2;
  }
  .form input{
    width: 100%;
    border: 1px solid #aaa;
    line-height: 3;
    border-radius: 5px;
  }
  .form .btn_group{
    font-size: 0;
  }
  .form .btn{
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: #6ab4fe;
    width: 190px;
    padding: 10px 0;
    color: #fff;
    font-family: 'Noto Sans TC', sans-serif;
  }
  .form .btn + .btn{
    margin-left: 20px;
  }
  
  .banner-txt h1{
    font-size: 80px;
    border-bottom: 1px solid #333;
    font-weight: 900;
    padding-bottom: 0.3em;
  }
  .banner-txt h1 small{
    display:block;
    font-size: 53px;
    font-weight: 700;
    padding-bottom: 0.3em;
  }
  .banner-txt h2{
    font-size: 50px;
    font-weight: 700;
  }
  .banner-txt p{
    font-size: 20px;
    font-weight: 300;
  }
</style>
<div class="banner">
  <div class="container">
    <div class="loginPosition">
      <div class="login">
        <form class="form">
          <h2>會員登入</h2>
          <div class="group">
            <label for="user_id">帳號  </label>
            <input type="text" name="" id="user_id">
          </div>
          <div class="group">
            <label for="user_password">密碼  </label>
            <input type="password" name="" id="user_password">
          </div>
          <div class="btn_group">
            <button class="btn">登入</button>
            &nbsp;
            <button class="btn">取消</button>
          </div>
        </form>
      </div>
    </div>
    <div class="banner-txt">
      <h1>
        金魚都能懂的
        <small>
          這個網頁怎麼切
        </small>
      </h1>
      <h2>
        圖文滿版的區塊
      </h2>
      <p>常見的畫面
        <br>
        切切切切切
      </p>
    </div>
  </div>
</div>